
Aurisha/dist/Group42_Pharmacy_2110315_2130446_2130248_1910961.jnlp
/Aurishaa/dist/
*.jnlp
*.properties
*.jnlp
*.bin
*.properties
*.properties
*.properties
*.class
*.class
*.class
*.html
*.jar
*.java
*.bin
